{% extends "core/base.html" %}
{% block content %}

<div class="bg-white border rounded-4 shadow-sm p-4">
  <h3 class="fw-bold mb-3">Contact</h3>

  <p class="text-secondary fw-semibold">
    For support, report removal requests, or any issues, contact:
  </p>

  <div class="p-3 border rounded-4">
    <p class="mb-1 fw-semibold">Email</p>
    <p class="text-primary fw-bold mb-0">harikrishnaravanaveni@gmail.com</p>
  </div>

  <div class="alert alert-info fw-semibold rounded-4 mt-4">
    If you report copyrighted content, admin will remove it after verification.
  </div>
</div>

{% endblock %}
