{% extends "core/base.html" %}
{% block content %}

<div class="bg-white border rounded-4 shadow-sm p-4">
  <h3 class="fw-bold mb-3">Disclaimer</h3>

  <p class="text-secondary fw-semibold">
    JntuNotesHub is a student community platform created for educational purposes.
    It allows students to upload and access notes, spectrum, PYQs, and important questions.
  </p>

  <h5 class="fw-bold mt-4">User responsibility</h5>
  <p class="text-secondary fw-semibold">
    Users are fully responsible for the content they upload. Uploading copyrighted books,
    paid content, or restricted materials is strictly not allowed.
  </p>

  <h5 class="fw-bold mt-4">Copyright</h5>
  <p class="text-secondary fw-semibold">
    All copyrights belong to their respective owners/publishers. If any copyrighted content is found,
    it will be removed immediately after verification or report.
  </p>

  <h5 class="fw-bold mt-4">Content moderation</h5>
  <p class="text-secondary fw-semibold">
    Admin has the right to remove any upload and ban users who violate rules.
  </p>

  <div class="alert alert-warning fw-semibold rounded-4 mt-4">
    ⚠️ Do not upload copyrighted books. Upload only handwritten notes and allowed materials.
  </div>
</div>

{% endblock %}
