{% extends "core/base.html" %}
{% block content %}

<div class="bg-white border rounded-4 shadow-sm p-4">
  <h3 class="fw-bold mb-3">Privacy Policy</h3>

  <p class="text-secondary fw-semibold">
    JntuNotesHub is a private platform for JNTUH students. We respect user privacy.
  </p>

  <h5 class="fw-bold mt-4">Information we collect</h5>
  <ul class="text-secondary fw-semibold">
    <li>Username</li>
    <li>Uploaded files (PDF/JPG/PNG)</li>
    <li>Basic metadata like title, type, subject</li>
  </ul>

  <h5 class="fw-bold mt-4">How we use it</h5>
  <ul class="text-secondary fw-semibold">
    <li>To show uploaded content in the platform</li>
    <li>To improve moderation and prevent spam</li>
  </ul>

  <h5 class="fw-bold mt-4">Data sharing</h5>
  <p class="text-secondary fw-semibold">
    We do not sell or share user data with third parties.
  </p>
</div>

{% endblock %}
