{% extends "core/base.html" %}
{% block content %}

<div class="bg-white border rounded-4 shadow-sm p-4">
  <h3 class="fw-bold mb-3">Terms & Conditions</h3>

  <p class="text-secondary fw-semibold">
    By using JntuNotesHub, you agree to follow these rules:
  </p>

  <h5 class="fw-bold mt-4">Allowed uploads</h5>
  <ul class="text-secondary fw-semibold">
    <li>Handwritten notes</li>
    <li>Important questions</li>
    <li>Previous year question papers (PYQs)</li>
    <li>Model papers / Spectrum</li>
  </ul>

  <h5 class="fw-bold mt-4">Not allowed</h5>
  <ul class="text-secondary fw-semibold">
    <li>Copyrighted books / paid materials</li>
    <li>Spam or fake uploads</li>
    <li>Vulgar/abusive content</li>
  </ul>

  <h5 class="fw-bold mt-4">Admin rights</h5>
  <p class="text-secondary fw-semibold">
    Admin can verify, remove uploads, and ban users without notice if rules are violated.
  </p>
</div>

{% endblock %}
